## Python User Input

In [3]:
print(input("..> First Name: "))

..> First Name: John
John

In [13]:
print("Welcome to Name counter")
print("Loading program...1%")
print(".......")
print("Program loaded....100%")
f_name = input("Enter your first name: ").strip()
l_name = input("Enter your last name: ").strip()
print("The first name has {} characters in it".format(str(len(f_name))))
print("The last name has {} characters in it".format(str(len(l_name))))

Welcome to Name counter
Loading program...1%
.......
Program loaded....100%
Enter your first name:  J ohn
Enter your last name: Do e
The first name has 5 characters in it
The last name has 4 characters in it

In [11]:
x = " kamal".strip()
print(len(x))

5

In [ ]:
select f_name from people 
where f_name == 'John'

In [14]:
print("Welcome to Name counter")
print("Loading program...1%")
print(".......")
print("Program loaded....100%")
f_name = input("Enter your first name: ").replace(" ", "")
l_name = input("Enter your last name: ").replace(" ", "")
print("The first name has {} characters in it".format(str(len(f_name))))
print("The last name has {} characters in it".format(str(len(l_name))))

Welcome to Name counter
Loading program...1%
.......
Program loaded....100%
Enter your first name: M a th ew
Enter your last name: Sim o n
The first name has 6 characters in it
The last name has 5 characters in it

In [15]:
print("John".split())

['John']

In [16]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [17]:
for i in x:
  print(i)

welcome
to
the
jungle

In [21]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split()

print(x)

['hello,', 'my', 'name', 'is', 'Peter,', 'I', 'am', '26', 'years', 'old']

In [22]:
txt = txt.replace(",", "")
#txt = txt.split()
print(txt)

hello my name is Peter I am 26 years old

<p> Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade. </p>

<p> Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line. </p>

In [28]:
records = [["Mike", 84], ["Victor", 97], ["John", 95], ["Tony", 95], ["Bryan", 87]]
score = []
for i in records:
  score.append(i[1])

m_num = min(score) #65
while min(score) == m_num: #min(score) = 87 == m_num = 65 false
  score.remove(min(score)) #score [ 87, 97]

min_score = min(score)
lowest_grades = sorted([[i[0], i[1]] for i in records if i[1] == min_score])
for i in lowest_grades:
  print(i[0])

Bryan